<turbo-frame id="deputies_form">
  <% if @result_page_data["dados"].is_a?(Hash) %>
    <div>
      <table border="1">
        <thead>
          <tr>
            <th>Chave</th>
            <th>Informação</th>
          </tr>
        </thead>
        <tbody>
          <% @result_page_data["dados"].each do |key, value| %>
            <%= value_identifier(key, value) %>
          <% end %>
        </tbody>
      </table>
      <p>v1</p>
    </div>
  <% elsif @result_page_data["dados"].is_a?(Array) && @result_page_data["dados"].empty? %>
    <div>
      <p><strong>Nome:</strong> <%= @view_research_render %></p>
      <p><strong>Assunto:</strong>
        <%= @result_page_data["dados"].nil? || @result_page_data["dados"].empty? ? "Não encontrado" : @result_page_data["dados"] %>
      </p>
      <% if @result_page_data["links"].present? %>
        <p><strong>Links relacionados:</strong></p>
        <ul>
          <% @result_page_data["links"].each do |link| %>
            <li>
              <%= link_to link["rel"].capitalize, link["href"], target: "_blank", rel: "noopener" %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <p>v2</p>
    </div>
  <% elsif @result_page_data["dados"].is_a?(Array) && !@result_page_data["dados"].empty? %>
    <% sorted_data = (@result_page_data["dados"]).sort_by do |item| 
        [
          item["mes"] ? -item["mes"].to_i : Float::INFINITY,
          -item["id"].to_i
        ]
      end %>
    <div>
      <p>Nome: <%= @deputies_research[:name] %> </p>
      <table border="1">
        <thead>
          <tr>
            <% sorted_data.first.keys.each do |key| %>
              <th><%= content_tag(:strong, key.capitalize) %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% sorted_data.each do |item| %>
            <tr>
              <% item.each_value do |value| %>
                <td><%= render_hash_value(value) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p>v3</p>
    </div>
  <% else %>
    <div>
      <p><%= @result_page_data || "<strong>Não foi possível encontrar</strong>" %></p>
      <p>v4</p>
    </div>
  <% end %>
</turbo-frame>