<div>
  <%= form_with url: "joao.ramos0793@gmail.com", method: :post, class: "contact-form" do |f| %>
    <div class="form-group">
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name, class: "form-control", placeholder: "Digite seu nome", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, class: "form-control", placeholder: "Digite seu email", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :message, "Assunto" %>
      <%= f.text_area :message, class: "form-control", placeholder: "Digite sua mensagem", rows: 5, required: true %>
    </div>
    <div class="form-group">
      <%= f.submit "Enviar", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>