<% if @result_page_data["dados"].is_a?(Hash) %>
  <div>
    <p><strong>Nome:</strong> <%= @deputies_research[:name] %></p>
    <table border="1">
      <thead>
        <tr>
          <th>Atributo</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <% @result_page_data["dados"].each do |key, value| %>
          <% if value.is_a?(Hash) %>
            <tr>
              <td><%= key.capitalize %></td>
              <td>
                <table border="1">
                  <% value.each do |sub_key, sub_value| %>
                    <tr>
                      <td><%= sub_key.capitalize %></td>
                      <% if sub_value.is_a?(Hash) %>
                        <% sub_value.each do |sub_sub_key, sub_sub_value| %>
                          <td>
                            <span><%= sub_sub_key.capitalize + ": " %></span>
                            <span><%= sub_sub_value.is_a?(String) && sub_sub_value.start_with?("http") ? link_to("Link", sub_sub_value) : sub_sub_value %></span>
                          </td>
                        <% end %>
                      <% else %>
                        <td><%= sub_value.is_a?(String) && sub_value.start_with?("http") ? link_to("Link", sub_value) : sub_value %></td>
                      <% end %>
                    </tr>
                  <% end %>
                </table>
              </td>
            </tr>
          <% else %>
            <tr>
              <td><%= key.capitalize %></td>
              <td><%= value.is_a?(String) && value.start_with?("http") ? link_to("Link", value) : value %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% elsif @result_page_data["dados"].is_a?(Array) && @result_page_data["dados"].empty? %>
  <div>
    <p><strong>Nome:</strong> <%= @deputies_research[:name] %></p>
    <p><strong>Assunto:</strong> 
      <%= @result_page_data["dados"].nil? || @result_page_data["dados"].empty? ? "Não encontrado" : @result_page_data["dados"] %>
    </p>
    <% if @result_page_data["links"].present? %>
      <p><strong>Links relacionados:</strong></p>
      <ul>
        <% @result_page_data["links"].each do |link| %>
          <li>
            <%= link_to link["rel"].capitalize, link["href"], target: "_blank", rel: "noopener" %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% elsif @result_page_data["dados"].is_a?(Array) && !@result_page_data["dados"].empty? %>
  <% sorted_data = (@result_page_data["dados"]).sort_by do |item| 
    [
      item["mes"] ? -item["mes"].to_i : Float::INFINITY,
      -item["id"].to_i
    ]
  end %>

  <div>
    <p>Nome: <%= @deputies_research[:name] %> </p>
    <table border="1">
      <thead>
        <tr>
          <% sorted_data.first.keys.each do |key| %>
            <th><%= key.capitalize %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% sorted_data.each do |item| %>
          <tr>
            <% item.each_value do |value| %>
              <td><%= value.is_a?(String) && value.start_with?("http") ? link_to("Link", value) : value %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div>
    <p><%= @result_page_data || "<strong>Não foi possível encontrar</strong>" %></p> 
  </div>
<% end %>
