<div>
  <%= turbo_frame_tag "votes_form" do %>
    <%= render partial: "home/partials/votes_form" %>
  <% end %>
  <%= render partial: "home/partials/date_select"%>
  <h3>Lista de votações</h3>
  <%= turbo_frame_tag "votes_list" do %>
    <% @votes_list.each do |vote| %>
      <%# Navigates to the home page filling the ID field so the user can search %>
      <p><%= link_to vote["id"], home_votes_path({ vote_id: vote["id"] }), method: :post, data: { turbo_frame: "votes_form"} %>
        - <strong>NOME:</strong> <%= truncate(vote["descricao"], length: 180) %>
        | <strong>DATA:</strong> <%= vote["data"] %>
        | <strong>REGISTRO:</strong> <%= vote["dataHoraRegistro"] %>
        | <strong>RESULTADO:</strong> <%= vote["aprovacao"] %>
      </p>
    <% end %>
  <% end %>
</div>
