<div>
  <%= turbo_frame_tag "events_form" do %>
    <%= render partial: "events/partials/events_form" %>
  <% end %>
  <%= render partial: "events/partials/date_select"%>
  <h3>Lista de eventos</h3>
  <%= turbo_frame_tag "events_list" do %>
    <% @events_list.each do |event| %>
      <p><%= link_to event["id"], events_path(event_id: event["id"]), method: :post, data: { turbo_frame: "events_form"} %>
        - <strong>NOME:</strong> <%= event.dig("orgaos", 0, "apelido") %>
        | <strong>INÍCIO:</strong> <%= event["dataHoraInicio"] %>
        | <strong>FIM:</strong> <%= event["dataHoraFim"] %>
        | <strong>SITUAÇÃO:</strong> <%= event["situacao"] %>
        <br>
        <strong>DESCRIÇÃO:</strong> <%= truncate(event["descricao"], length: 200) %></p>
    <% end %>
  <% end %>
</div>
